<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="p-[0] m-[0] bg-[#306deabd]">
    <div id="header_base" class="flex justify-between w-[90%] m-auto text-[30px] items-center py-4">
        <div class="font-bold text-gray-800">To-Do</div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="text-white bg-red-300 hover:bg-[red] font-bold py-2 px-4 rounded">
                    Logout
                </a>
            {% else %}
                <div class="flex space-x-4">
                    <a href="{% url 'signup' %}" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
                        Signup
                    </a>
                    <a href="{% url 'login' %}" class="text-white bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded">
                        Login
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div id="header" class="flex bg-[#306deabd] justify-center text-[37px] text-[white] font-['serif']">
        <h1>Your-Tasks</h1>
    </div>
    <div id="tasks" class="w-[100%] flex justify-center flex-col items-center mt-[20px]">
        {% for task in tasks %}
            <div class="text-left text-[25px]   w-fit hover:rounded-lg "> {{ forloop.counter }}. {{ task.value }}</div>
        {% endfor %}
    </div>
    <div class="w-[100%] flex justify-center flex-col items-center mt-[5px]" >
        <form method="post">
            {% csrf_token %}
            <input type="text" name="value">
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>